
streamlit
openai
pandas
azure-search-documents
azure-core
langchain-openai
langchain-experimental
tabulate
plotly
pdfplumber
openpyxl
azure-storage-file-datalake
azure-identity
azure-ai-contentsafety>=1.0.0b1
ragas>=0.1.0
datasets>=2.0.0
msal>=1.0.0
azure-data-tables>=12.0.0
opencensus-ext-azure>=1.0.0
langsmith
pymongo
uvicorn
fastapi
python-multipart
PyPDF2
markdown
python-docx

